.about {
  padding: 80px 0;
  background-color: #111418;
  border-top: 1px solid #444444;
  min-height: 100vh;

  &-content {
    //min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__photo {
      width: 45%;
      position: absolute;
      top: 70px;

      img {
        display: block;
        width: 100%;
        height: auto;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.55);
      }
    }

    &__info {
      width: 50%;
      position: relative;
      left: 50%
    }

    &__title {
      @include title;
      font-size: 2rem;
      line-height: 1.2;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    &__subtitle {
      @include subtitle;
      font-weight: 500;
      margin-bottom: 1.5rem;

      span {
        color: #7e73b0;
      }
    }

    &__text {
      p {
        @include paragraph;
      }

    }
  }
}

@media (max-width: $breakpoint-tablet) {

  .about {
    padding: 50px 0;

    &-content {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &__photo {
        width: 50%;
        position: relative;
        top: 0;
        margin-bottom: 30px;

        img {
          width: auto;
          height: 100%;
          max-height: 200px;
          object-fit: contain;
        }

      }

      &__info {
        width: 100%;
        position: relative;
        left: 0
      }

      &__title {
        font-size: 1.5rem;
      }

      &__text {
        p {
          font-size: 1rem;
        }
      }
    }

  }
  .cta__buttons {
    display: flex;
    justify-content: space-between;
  }
  .cta__btn {
    font-size: .8rem;
    padding: 15px;
    border-radius: 15px;
    margin: 20px 0;
  }

}