.nav-bg {
  background: #111111;
  box-shadow: 0 0 10px rgba(250, 250, 250, 0.05);
  opacity: .8;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: background .5s ease-in-out;


  &-list {
    display: flex;
    justify-content: flex-end;
  }

  &-item {

  }

  a {
    color: $color-white;
    border-bottom: none;

    display: inline-block;
    padding: 1.5em 1em;
    margin-left: 1em;
    cursor: pointer;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: .7em;
      transform: translateX(-50%);
      width: 1%;
      opacity: 0;
      border-bottom: 1px solid white;
      transition: all .3s ease-in-out;
    }

    &:hover, &:active {
      background: black;
    }

  }

  .active {

    &:after {
      content: '';
      opacity: 1;
      position: absolute;
      left: 50%;
      bottom: .7em;
      transform: translateX(-50%);
      width: 50%;
      border: 1px solid white;
    }
  }

}