@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$font-base: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
$font-alt: 'Montserrat', sans-serif;

$color-bg: #222222;
$color-text: #DDDDDD;

*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $color-bg;
  color: $color-text;
  //font-family: $font-base;
  font-family: $font-alt;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .text {
    margin-left: 50px;
  }

  h1, h2, h3, p {
    padding: 10px;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}